.container-vehicles {
  width: 95%;
  margin: auto;
}
.card-custom {
  font-size: 20px; 
  margin: 10px auto 10px auto;
  align-items: center;
  justify-content: center;

}

.mat-mdc-form-field {
  font-size: 14px;
  width: 30%;
  margin-right: 20px;
}

